<h3 class="ui header">{{t "forms.i-i-s-kursovaya-rabota-kalyukh-чек-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.заказ.номерЗаказа
      class=(if (v-get validationModel.заказ "номерЗаказа" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya-rabota-kalyukh-чек-e.заказ.номерЗаказа-caption")
      data-test-i-i-s-kursovaya-rabota-kalyukh-чек-e-заказ-номерЗаказа=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.заказ "номерЗаказа" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.времяОплаты
      class=(if (v-get validationModel "времяОплаты" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya-rabota-kalyukh-чек-e.времяОплаты-caption")
      data-test-i-i-s-kursovaya-rabota-kalyukh-чек-e-времяОплаты=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "времяОплаты" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kursovaya-rabota-kalyukh-чек-e.датаОплаты-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаОплаты
      class=(if (v-get validationModel "датаОплаты" "isInvalid") "error")
      data-test-i-i-s-kursovaya-rabota-kalyukh-чек-e-датаОплаты=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаОплаты" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.сумма
      class=(if (v-get validationModel "сумма" "isInvalid") "error")
      label=(t "forms.i-i-s-kursovaya-rabota-kalyukh-чек-e.сумма-caption")
      data-test-i-i-s-kursovaya-rabota-kalyukh-чек-e-сумма=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сумма" "message")}}
  </div>
</form>
